# {{ ansible_managed }}

[Unit]
Description="{{ systemd_service['item'].description | default("Service for " + item) }}"
{% if systemd_service['item'].wants is defined %}
Wants={{ systemd_service['item'].wants }}
{% endif -%}
{% if systemd_service['item'].requires is defined %}
Requires={{ systemd_service['item'].requires }}
{% endif -%}
{% if systemd_service['item'].before is defined %}
Before={{ systemd_service['item'].before }}
{% endif -%}
{% if systemd_service['item'].after is defined %}
After={{ systemd_service['item'].after }}
{% endif %}

[Service]
{% if systemd_service['item'].type is defined %}
Type={{ systemd_service['item'].type }}
{% endif -%}
{% if systemd_service['item'].pid_file is defined %}
PIDFile={{ systemd_service['item'].pid_file }}
{% endif -%}

{% if systemd_service['item'].timeout_sec is defined %}
TimeoutSec={{ systemd_service['item'].timeout_sec }}
{% endif -%}
{% if systemd_service['item'].restart is defined %}
RestartSec={{ systemd_service['item'].restart_sec | default('30') }}
Restart={{ systemd_service['item'].restart }}
{% endif -%}

{% if systemd_service['item'].environment is defined %}
{% for env in systemd_service['item'].environment %}
Environment={{ env }}
{% endfor -%}
{% endif -%}
{% if systemd_service['item'].environment_file is defined %}
EnvironmentFile={{ systemd_service['item'].environment_file }}
{% endif -%}

{% if systemd_service['item'].working_directory is defined %}
WorkingDirectory={{ systemd_service['item'].working_directory }}
{% endif -%}
{% if systemd_service['item'].user is defined %}
User={{ systemd_service['item'].user }}
{% endif -%}
{% if systemd_service['item'].group is defined %}
Group={{ systemd_service['item'].group }}
{% endif -%}

{% if systemd_service['item'].oom_score_adjust is defined %}
OOMScoreAdjust={{ systemd_service['item'].oom_score_adjust }}
{% endif -%}
{% if systemd_service['item'].nice is defined %}
Nice={{ systemd_service['item'].nice }}
{% endif -%}

{% if systemd_service['item'].exec_stop is defined %}
ExecStop={{ systemd_service['item'].exec_stop }}
{% endif -%}
{% if systemd_service['item'].exec_stop_post is defined %}
ExecStopPost={{ systemd_service['item'].exec_stop_post }}
{% endif -%}
{% if systemd_service['item'].exec_reload is defined %}
ExecReload={{ systemd_service['item'].exec_reload }}
{% endif -%}

{% if systemd_service['item'].exec_start_pre is defined %}
ExecStartPre={{ systemd_service['item'].exec_start_pre }}
{% endif -%}
{% if systemd_service['item'].exec_start_post is defined %}
ExecStartPost={{ systemd_service['item'].exec_start_post }}
{% endif -%}
{% if systemd_service['item'].exec_start is defined %}
ExecStart={{ systemd_service['item'].exec_start }}
{% endif -%}

{% if systemd_service['item'].standard_input is defined %}
StandardInput={{ systemd_service['item'].standard_input }}
{% endif -%}
{% if systemd_service['item'].standard_output is defined %}
StandardOutput={{ systemd_service['item'].standard_output }}
{% endif -%}
{% if systemd_service['item'].standard_error is defined %}
StandardError={{ systemd_service['item'].standard_error }}
{% endif %}

[Install]
{% if systemd_service['item'].wanted_by is defined %}
WantedBy={{ systemd_service['item'].wanted_by }}
{% endif -%}
{% if systemd_service['item'].required_by is defined %}
RequiredBy={{ systemd_service['item'].required_by }}
{% endif %}
